/* 
    Document   : AdminProfile
    Created on : Jun 12, 2013, 12:34:16 PM
    Author     : ashnamde
    Description:
        Purpose of the stylesheet follows.
*/


        
#span2{
    position: relative;
    left:5px;
    top: 55px;
    font-family: Broadway;
    text-decoration: underline;
    font-size: xx-large;
    color:turquoise;
    
}
            #bd{
                margin: 0;
                background-color:#202503 ;


}
            #dv1{
                position: fixed;
                z-index: +1;
                background-color:#192201;
                height: 50px;
                width: 1366px;
                border-bottom-style: ridge;
                border-bottom-width: thin;
                border-bottom-color: royalblue;
                margin-top: -8px;
}
            #span1{
                margin-top: 0;
                margin-left: 5px;
                font-family:Forte;
                color: #6699FF;
                font-size: xx-large;
                font-weight: 900;

            }
            #sub1{
                margin-top: 2px;
                margin-left: 5px;
                font-size: small;
                font-family: Tempus Sans ITC;
                color: tomato;
}
#a1{
    text-decoration: none;
    color: whitesmoke;

    border-radius:2px;
    background-color:lightslategray;
    margin-left: 10px;
    text-align: center;
}
#a1:hover{
    color:green;

    background-color: transparent;
}
#ip1{
    margin-left: 170px;
}
ul{
    list-style: none;
    margin-top: -20px;
    margin-left: 1210px;
}
ul li a{
    position:relative;

    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #696969;
    color: whitesmoke;
    border:2px #1E90FF ridge;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: small;
    border-radius:5px;
}
#main{
    margin-left: 10px;
    position: absolute;
    z-index: -1;
    
}
        
        
            #OtherAdm{
                     width: 200px;
                     border: 1px solid tomato;
                     margin-top: 100px;
                     margin-left: 20px;
                     background-color: #232505;
}
#OtherAdm h3{
    background: silver url("images/arrow-square.gif") no-repeat  right -51px;
    margin: 0px;
     color: sienna;
}
#OtherAdm h3:hover{
    background-color: whitesmoke;
    cursor: pointer;
 color: coral;
}
#OtherAdm h3.active{
    background-position: right 5px;
}
#OtherAdm p{
  
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin: 0px;   
}
#OtherAdm p:hover{
    color: thistle;
    cursor: pointer;
}
        
