/* 
    Document   : Help
    Created on : Jun 5, 2013, 5:13:54 PM
    Author     : ashnamde
    Description:
        Purpose of the stylesheet follows.
*/

#bd
{
    margin-top: 5px;
    margin-left: -16px;
    background-color:#202503 ;
    
}
     
#msg1
{
    position: absolute; 
    top:  80px;
    left:30px;
    right:30px;
    color: thistle;
    font:large cursive ;
}
       
#msg2
{
    position:absolute;
    top: 140px;
    left:100px;
    color: tomato;
    font: bold large cursive ;
    text-decoration: blink;
}
    
#outerdiv
{
    position:absolute;
    top: 170px;
    left:0px;
    color: #556B2F;
               
}
     
#innerdiv1
{
    position:absolute;
    top: 30px;
    left: 960px;
    color: thistle;
    font:large cursive ;
}
#sp
{
    text-decoration: blink;
    color: tomato;    
}
            
#innerdiv2
{
    position:relative;
    top: 20px;
    left: 30px;
}   
       
#heading
{
    font:large cursive ;
    text-decoration: none;
    color:lightyellow;
    font-style:  italic;
    font-size:  x-large;
}
pre b
{
     list-style-type: circle;
}
#content
{
    color:white;
    font-style: normal;
    font-family: cursive;
    position: absolute;
    margin-left: 50px;
    margin-top: 80px;
}
#subcontent
{
    border-width:  medium;
}
#subcontent ul
{
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    list-style:  circle;
}
.anchors:hover
{
    color: greenyellow;
}