<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddFileServlet</servlet-name>
        <servlet-class>servlets.AddFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEventServlet</servlet-name>
        <servlet-class>servlets.CreateEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIssueServlet</servlet-name>
        <servlet-class>servlets.CreateIssueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscussionServlet</servlet-name>
        <servlet-class>servlets.DeleteDiscussionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscussionServlet</servlet-name>
        <servlet-class>servlets.DiscussionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendRequestServlet</servlet-name>
        <servlet-class>servlets.FriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgoLoginServlet</servlet-name>
        <servlet-class>servlets.NgoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgoLogoUploadServlet</servlet-name>
        <servlet-class>servlets.NgoLogoUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NgoSignupServlet</servlet-name>
        <servlet-class>servlets.NgoSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishStatusServlet</servlet-name>
        <servlet-class>servlets.PublishStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserImageUploadServlet</servlet-name>
        <servlet-class>servlets.UserImageUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignupServlet</servlet-name>
        <servlet-class>servlets.UserSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>servlets.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>servlets.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <servlet-class>servlets.AcceptRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFileServlet</servlet-name>
        <url-pattern>/AddFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEventServlet</servlet-name>
        <url-pattern>/CreateEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIssueServlet</servlet-name>
        <url-pattern>/CreateIssueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscussionServlet</servlet-name>
        <url-pattern>/DeleteDiscussionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscussionServlet</servlet-name>
        <url-pattern>/DiscussionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendRequestServlet</servlet-name>
        <url-pattern>/FriendRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgoLoginServlet</servlet-name>
        <url-pattern>/NgoLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgoLogoUploadServlet</servlet-name>
        <url-pattern>/NgoLogoUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NgoSignupServlet</servlet-name>
        <url-pattern>/NgoSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishStatusServlet</servlet-name>
        <url-pattern>/PublishStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserImageUploadServlet</servlet-name>
        <url-pattern>/UserImageUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignupServlet</servlet-name>
        <url-pattern>/UserSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestServlet</servlet-name>
        <url-pattern>/AcceptRequestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
